.scrollbar-custom::-webkit-scrollbar {
  width: 6px;      /* Width of vertical scrollbar */
  height: 6px;     /* Height of horizontal scrollbar */
}

/* Scrollbar track */
.scrollbar-custom::-webkit-scrollbar-track {
  background: #ecebeb; /* Track color */
  border-radius: 3px;
}

/* Scrollbar thumb */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #bda5a5; /* Thumb color */
  border-radius: 3px;
}

/* Scrollbar thumb hover */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #7a7979;
}


@keyframes recordingPulse {
  0%, 100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

.animate-recording {
  animation: recordingPulse 1.2s infinite;
}
